version: '3'
services:
  mongodb:
    image: mongo
    ports:
      - 37017:27017

  backend:
    image: backend
    build:
      context: backend
      dockerfile: dev.Dockerfile
    environment:
      - HOST=0.0.0.0
      - PORT=3000
      - CHOKIDAR_USEPOLLING=true #For to work hot reload in windows
    expose:
      - 3000
    ports:
      - 3000:3000
    volumes:
      - ./backend/src:/app/src
  frontend:
      image: frontend
      build:
        context: frontend
        dockerfile: dev.Dockerfile
      environment:
        - HOST=0.0.0.0
        - PORT=8080
        - CHOKIDAR_USEPOLLING=true #For to work hot reload in windows
      volumes:
        - ./frontend/src:/app/src
        - ./frontend/public:/app/public
      ports:
        - 8080:8080
      expose:
        - 8080
